*{
  margin:0;
  padding:0
}
body {
  font-family: 'Lato', sans-serif;
}
.div-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  margin: 30px auto;
}
.todo-container{
  margin: 100px auto;
}